.app-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.App {
  display: grid;
  width: fit-content;
  grid-gap: 10px;
  align-items: center;
  padding: 10px;
  margin: 10px auto;
  overflow: hidden;
  font-family: "Poppins", helvetica, arial, sans-serif;
}

.item1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 3;
}